h1 {
  background-color: RGB(171, 171, 205);
}

h2 {
  background-color: RGB(254, 255, 92);
}

h3 {
  background-color: RGB(80, 75, 91);
}

h4 {
  background-color: RGB(60, 188, 190);
}

h5 {
  background-color: HSL(210, 63%, 50%);
}

h6 {
  background-color: hsla(210, 63%, 50%, 0.5);
}
ss * {
  background-size: 300px;
  background-position: position;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
